
// 页面大小
// 最大大小
$maxW: 414px;
$inputH: 44px;
$loadmoreH: $inputH;
// 最小大小
$minW: 320px;

// 页面左右间距
$padding: 20px;

// 上下间距
$marginBottom: 20px;

// 网页背景色
$bg: #eee;

// 字体大小
// 基础字体大小
$font: 16px;
// 标题大小
$fontTitle: 20px;

// 颜色
$fontColorBlack: #333;
$fontColorGray: #666;
$fontColorTips: #999;
$borderColor: #ddd;

$bgYellow: #F4CB01;
